p,
label {
    font:
            1rem "Fira Sans",
            sans-serif;
}

input {
    margin: 0.4rem;
}

.run-settings {
    width: 100%;
    margin: 0 auto;
}
.run-settings > fieldset {
    /*width: 100px;*/
    display: inline-block;
    font-size: medium;
}
.run-settings > fieldset > label {
    font-size: small;
}

/*.speedDiv{*/
/*    width: 70%;*/
/*    height: 30%;*/
/*}*/