p,
label {
    font:
        1rem "Fira Sans",
        sans-serif;
}

input {
    margin: 0.4rem;
}

.run-settings {
    width: 100%;
    margin: 0 auto;
}

.run-settings>fieldset {
    /*width: 100px;*/
    display: inline-block;
    font-size: medium;
}

.run-settings>fieldset>label {
    font-size: small;
}

/*.speedDiv{*/
/*    width: 70%;*/
/*    height: 30%;*/
/*}*/

/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 1;
    background: #25b09b;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    animation: l2 2s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l2 {
    25% {
        clip-path: polygon(0 0, 100% 0, 0 100%)
    }

    50% {
        clip-path: polygon(0 0, 100% 100%, 0 100%)
    }

    75% {
        clip-path: polygon(100% 0, 100% 100%, 0 100%)
    }

    100% {
        clip-path: polygon(100% 0, 100% 100%, 0 0)
    }
}