<!doctype html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <button onclick="resumeClick(this)"> ⏯ </button>
    <button onclick="resetClick(this)"> ⏹ </button>
    

    <div class="run-settings">
        <fieldset id="indexes">
            <legend>Индексы</legend>
<!--                <div>-->
<!--                    <input type="checkbox" id="index-{{ $v.Info.ShortName }}" name="{{ $v.Info.ShortName }}" {{ if eq $k 0 1 }} checked {{ end }} />-->
<!--                    <label for="index-{{ $v.Info.ShortName }}">{{ $v.Info.LongName }}</label>-->
<!--                </div>-->
        </fieldset>
        <fieldset id="tasks">
            <legend>Задачи</legend>
<!--            {{ range $k, $v := .Tasks }}-->
<!--            <div>-->
<!--                <input type="checkbox" id="task-{{ $v.Info.ShortName }}" name="{{ $v.Info.LongName }}" {{ if eq $k 0 1 }} checked {{ end }} />-->
<!--                <label for="task-{{ $v.Info.ShortName }}">{{ $v.Info.LongName }}</label>-->
<!--            </div>-->
<!--            {{ end }}-->
        </fieldset>
    </div>

    <div id="speedDiv">
        <canvas id="speedChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="index.js"> </script>
</body>
